@model IEnumerable<najemci.Models.Nemovitost>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (Model != null && Model.Any())
        {
            foreach (var property in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Nemovitost" asp-action="Details" asp-route-id="@property.Id">@property.Jmeno</a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <span class="nav-link text-dark">Žádné nemovitosti</span>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Nemovitost" asp-action="Nova">+</a>
        </li>
    </ul>
</div>
