@model IEnumerable<najemci.Models.Nemovitost>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ahoj,</h1>
    <p>snažil jsem se to udělat co nejlehčí, snad to bude fungovat.</p>
</div>
