@model IEnumerable<najemci.Models.Nemovitost>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ahoj,</h1>
    <p>přeji šťastné vyhazování nájemníků, toto by ti mělo usnadnit práci.</p>
</div>
